<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zzxcloud.elicend.api.mapper.ProjectMapper">

    <sql id="ProjectColumns">
        a.id,
        a.user_id,
        a.language,
        a.language_version,
        a.port,
        a.bind_port,
        a.git_repo_uri,
        a.local_repo,
        a.project_name,
        a.project_version,
        a.command,
        a.db,
        a.db_version,
        a.container,
        a.state,
        a.gmt_create,
        a.gmt_modified,
        a.is_delete
    </sql>

    <select id="getById" resultType="cn.zzxcloud.elicend.api.entity.Project">
        SELECT
        <include refid="ProjectColumns" />
        FROM
        project AS a
        WHERE
        a.id = #{id}
        AND is_delete=0
    </select>

    <select id="getGitRepoById" resultType="java.lang.String">
        SELECT
        a.git_repo_uri
        FROM
        project AS a
        WHERE
        a.id = #{id}
        AND is_delete=0
    </select>

    <select id="getByName" resultType="cn.zzxcloud.elicend.api.entity.Project">
        SELECT
        <include refid="ProjectColumns" />
        FROM
        project AS a
        WHERE
        a.project_name = #{projectName}
        AND is_delete=0
    </select>

    <select id="selectAll" resultType="cn.zzxcloud.elicend.api.entity.Project">
        SELECT
        <include refid="ProjectColumns" />
        FROM
        project AS a
        WHERE is_delete=0
        ORDER BY a.gmt_modified DESC
    </select>

    <select id="selectAllByUserId" resultType="cn.zzxcloud.elicend.api.entity.Project">
        SELECT
        <include refid="ProjectColumns" />
        FROM
        project AS a
        WHERE
        a.user_id=#{userId}
        AND is_delete=0
        ORDER BY a.gmt_modified DESC
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM project AS a
        <where>
            <if test="project_name != null and project_name != ''" >
                AND a.project_name LIKE CONCAT ('%', #{projectName}, '%')
            </if>
            AND is_delete=0
        </where>
    </select>

    <insert id="insert" parameterType="cn.zzxcloud.elicend.api.entity.Project">
        INSERT INTO project (
          `user_id`,
          `language`,
          `language_version`,
          `port`,
          `bind_port`,
          `git_repo_uri`,
          `local_repo`,
          `project_name`,
          `project_version`,
          `command`,
          `db`,
          `db_version`,
          `container`,
          `state`
        )
        VALUES
          (
            #{userId},
            #{language},
            #{languageVersion},
            #{port},
            #{bindPort},
            #{gitRepoUri},
            #{localRepo},
            #{projectName},
            #{projectVersion},
            #{command},
            #{db},
            #{dbVersion},
            #{container},
            #{state}
          )
    </insert>

    <update id="delete">
        UPDATE
          project
        SET
          is_delete = 1
        WHERE id = #{id}
    </update>

    <update id="updateStateById">
        UPDATE
          project
        SET
          `state`=#{state}
        WHERE id = #{id}
    </update>


    <update id="update">
        UPDATE
          project
        SET
          `user_id` = #{userId},
          `language`= #{language},
          `language_version` =  #{languageVersion},
          `port` = #{port},
          `bind_port` = #{bindPort},
          `git_repo_uri` =  #{gitRepoUri},
          `local_repo` =  #{localRepo},
          `project_name` = #{projectName},
          `project_version` = #{projectVersion},
          `command` =  #{command},
          `db` = #{db},
          `db_version` = #{dbVersion},
          `container` = #{container},
          `state` = #{state}
        WHERE id = #{id}
    </update>

</mapper>